<!DOCTYPE html>
<html>
<head>
  <title>ToEatApp Rails-React-Relay-GraphQL Tutorial - Queries - Mutations</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <meta name="author" content="John Davison">
  <meta name="keywords" content="programming thoughts react graphql relay rubyonrails postgresql learntocode devbootcamp hackreactor queries mutations">
  <meta name='og:url' property="og:url" content="http://toeatapp.startuplandia.io/">
  <meta name='og:title' property="og:title" content="ToEatApp Rails-React-Relay-GraphQL Tutorial - Queries - Mutations">
  <meta name='og:site_name' property="og:site_name" content="ToEatApp - Rails, React, Relay, Graphql Tutorial Application">

  <meta name="description" content="A live tutorial demonstrating how to use Facebook's React, Relay and GraphQL libraries with a RubyonRails/PostgreSQL based web server.">
  <meta name='og:description' property="og:description" content="A live tutorial demonstrating how to use Facebook's React, Relay and GraphQL libraries with a RubyonRails/PostgreSQL based web server.">

  <meta name='og:image' property="og:image" content="assets/graphql-relay-tutorial-queries.png">
  <meta name='og:type' property="og:type" content="article">

</head>
<body>


  <div class='container'>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class='container'>
        <div class='signup-form-container'>
          <%= render 'shared/signup_form' %>
        </div>
      </div>
    </nav>
  </div>

  <div class="container">
    <div class="row">
      <div class='col-sm-12 center-block no-float'>
        <%= yield %>
      </div>
    </div>
  </div>

  <%# <%= render 'shared/footer' %1> %>
  <%= javascript_include_tag 'application' %>
  <% if Rails.env.production? %>
    <%= render 'shared/google_analytics' %>
  <% end %>
</body>
</html>
